<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.kjellstrand.awp.plasma"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/name" >
        <service
            android:name="se.kjellstrand.awp.plasma.PlasmaWallpaper"
            android:label="@string/name"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/plasma" />
        </service>
        
        <activity android:name="se.kjellstrand.awp.plasma.prefs.SettingsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

    <uses-feature android:name="android.software.live_wallpaper" />

</manifest>